<!doctype html>
<html>
<head>
#parse("/common/header.vm")
</head>
<body>  
#parse("/common/topnav.vm")
            <div class="layui-container">
                    $screen_content  
             </div>
            #parse("/common/footer.vm")  
</body> 
</html>