<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.piaoling.dao.CommentsMapper" >
  <resultMap id="BaseResultMap" type="com.piaoling.entity.Comments" >
    <id column="COM_ID" property="comId" jdbcType="VARCHAR" />
    <result column="COM_TOPIC_ID" property="comTopicId" jdbcType="VARCHAR" />
    <result column="COM_TOPIC_TYPE" property="comTopicType" jdbcType="CHAR" />
    <result column="COM_CONTENT" property="comContent" jdbcType="VARCHAR" />
    <result column="COM_FROM_ID" property="comFromId" jdbcType="VARCHAR" />
    <result column="COM_TO_ID" property="comToId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    COM_ID, COM_TOPIC_ID, COM_TOPIC_TYPE, COM_CONTENT, COM_FROM_ID, COM_TO_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from COMMENTS
    where COM_ID = #{comId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from COMMENTS
    where COM_ID = #{comId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.piaoling.entity.Comments" >
    insert into COMMENTS (COM_ID, COM_TOPIC_ID, COM_TOPIC_TYPE, 
      COM_CONTENT, COM_FROM_ID, COM_TO_ID
      )
    values (#{comId,jdbcType=VARCHAR}, #{comTopicId,jdbcType=VARCHAR}, #{comTopicType,jdbcType=CHAR}, 
      #{comContent,jdbcType=VARCHAR}, #{comFromId,jdbcType=VARCHAR}, #{comToId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.piaoling.entity.Comments" >
    insert into COMMENTS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="comId != null" >
        COM_ID,
      </if>
      <if test="comTopicId != null" >
        COM_TOPIC_ID,
      </if>
      <if test="comTopicType != null" >
        COM_TOPIC_TYPE,
      </if>
      <if test="comContent != null" >
        COM_CONTENT,
      </if>
      <if test="comFromId != null" >
        COM_FROM_ID,
      </if>
      <if test="comToId != null" >
        COM_TO_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="comId != null" >
        #{comId,jdbcType=VARCHAR},
      </if>
      <if test="comTopicId != null" >
        #{comTopicId,jdbcType=VARCHAR},
      </if>
      <if test="comTopicType != null" >
        #{comTopicType,jdbcType=CHAR},
      </if>
      <if test="comContent != null" >
        #{comContent,jdbcType=VARCHAR},
      </if>
      <if test="comFromId != null" >
        #{comFromId,jdbcType=VARCHAR},
      </if>
      <if test="comToId != null" >
        #{comToId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.piaoling.entity.Comments" >
    update COMMENTS
    <set >
      <if test="comTopicId != null" >
        COM_TOPIC_ID = #{comTopicId,jdbcType=VARCHAR},
      </if>
      <if test="comTopicType != null" >
        COM_TOPIC_TYPE = #{comTopicType,jdbcType=CHAR},
      </if>
      <if test="comContent != null" >
        COM_CONTENT = #{comContent,jdbcType=VARCHAR},
      </if>
      <if test="comFromId != null" >
        COM_FROM_ID = #{comFromId,jdbcType=VARCHAR},
      </if>
      <if test="comToId != null" >
        COM_TO_ID = #{comToId,jdbcType=VARCHAR},
      </if>
    </set>
    where COM_ID = #{comId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.piaoling.entity.Comments" >
    update COMMENTS
    set COM_TOPIC_ID = #{comTopicId,jdbcType=VARCHAR},
      COM_TOPIC_TYPE = #{comTopicType,jdbcType=CHAR},
      COM_CONTENT = #{comContent,jdbcType=VARCHAR},
      COM_FROM_ID = #{comFromId,jdbcType=VARCHAR},
      COM_TO_ID = #{comToId,jdbcType=VARCHAR}
    where COM_ID = #{comId,jdbcType=VARCHAR}
  </update>
</mapper>